* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: relative;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar .navbar-brand {
    margin-left: 20px;
}

.navbar .navbar-brand span {
    margin-left: 5px;
    font-size: 20px;
    color: #fda500;
    font-family: 'Gloock', serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.navbar #navbarSupportedContent ul li {
    margin-right: 18px;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

.navbar #navbarSupportedContent ul li a {
    color: rgb(225, 225, 225);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
}

.navbar #navbarSupportedContent {
    margin-right: 15vw;
}

.navbar #navbarSupportedContent ul li a:hover {
    border-bottom: 1px solid #fda500;
    color: #fda500;
    transition: ease 0.2s;
}

.navbar .download a {
    border-radius: 20px;
    padding: 7px 15px;
    margin-right: 40px;
}

.navbar .download {
    position: absolute;
    right: 0;
}


/* hero  */

.hero {
    background-image: url(img/bg2.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-position: center top;
    top: 0;
    left: 0;
    z-index: 1;
    background-position-x: center;
}

.hero .row {
    transform: translateX(-400px);
    opacity: 0;
    margin-top: 24vh;
    flex-direction: column;
}

.hero .row.muncul {
    transform: translateX(0px);
    opacity: 1;
    transition: ease 1.4s;
}

.hero .row .col-12 .trending {
    font-family: 'Sofia Sans', sans-serif;
    color: #ddd;
    font-size: 13px;
    margin-bottom: 30px;
}

.hero .row .col-12 .owner {
    font-family: 'Sofia Sans', sans-serif;
    color: #ddd;
    font-weight: bold;
    font-size: 15px;
}

.hero .row .col-12 h1 {
    font-family: 'Permanent Marker', cursive;
    margin-top: -12px;
    margin-bottom: 23px;
    color: #fda500;
    font-size: 55px;
}

.hero .row .col-12 p {
    color: #ddd;
}

.hero .row .col-12 div a {
    border-radius: 18px;
    margin-right: 10px;
    margin-top: 15px;
}

.hero .row .col-12 div .play:hover {
    transform: scale(1.03);
    color: white;
    transition: ease 0.5s;
    background-color: transparent;
}

.hero .row .col-12 div .btn-outline-light:hover {
    transform: scale(1.03);
    transition: ease 0.5s;
}

.sosial {
    margin-top: 4vh;
    margin-left: 2vw;
}

.sosial a {
    margin-right: 10px;
    text-decoration: none;
}

.sosial a svg {
    color: white !important;
}

.sosial a:hover svg {
    transform: translateY(-10px);
    transition: ease 0.5s;
}


/* responsive  */

@media (max-width: 992px) {
    /* navbar  */
    .navbar #navbarSupportedContent ul li a:hover {
        border-bottom: none;
    }
    .navbar .download a {
        margin-right: 20px;
    }
    .navbar .navbar-brand {
        margin-left: 0px;
    }
    .navbar .download {
        position: static;
    }
    .navbar #navbarSupportedContent {
        margin-right: 0;
    }
    .hero .row {
        margin-top: 23vh;
    }
    .hero .row .col-12 .trending {
        font-size: 13px;
        margin-bottom: 30px;
    }
    .hero .row .col-12 .owner {
        font-size: 15px;
    }
    .hero .row .col-12 h1 {
        font-family: 'Permanent Marker', cursive;
        margin-top: -12px;
        margin-bottom: 23px;
        color: #fda500;
        font-size: 63px;
    }
    .hero .row .col-12 p {
        color: #ddd;
        font-size: 15px;
    }
    .hero .row .col-12 div a {
        border-radius: 18px;
        margin-right: 10px;
        margin-top: 15px;
    }
}

@media (max-width: 768px) {
    .hero {
        background-position-x: right;
    }
    .navbar #navbarSupportedContent ul li {
        font-size: 16px;
    }
    .hero .row {
        margin-top: 20vh;
    }
    .hero .row .col-12 .trending {
        font-size: 11px;
        margin-bottom: 30px;
    }
    .hero .row .col-12 .owner {
        font-size: 13px;
    }
    .hero .row .col-12 h1 {
        font-family: 'Permanent Marker', cursive;
        margin-top: -12px;
        margin-bottom: 23px;
        color: #fda500;
        font-size: 58px;
    }
    .hero .row .col-12 p {
        color: #ddd;
        font-size: 14px;
    }
    .hero .row .col-12 div a {
        border-radius: 18px;
        margin-right: 10px;
        margin-top: 15px;
    }
}

@media (max-width: 576px) {
    /* navbar */
    .navbar .navbar-brand img {
        width: 8vw;
    }
    .navbar .navbar-brand span {
        font-size: 3.3vw;
    }
    .navbar .download a {
        font-size: 2.2vw;
        width: 23vw;
        padding: 4px 6px;
        margin-right: 10px;
    }
    .navbar .download a svg {
        width: 14px;
        height: 14px;
    }
    .hero {
        background-position-x: right;
    }
    .hero .row {
        margin-top: 16vh;
        padding: 0 14px;
    }
    .hero .row .col-12 .trending {
        font-size: 11px;
        margin-bottom: 27px;
    }
    .hero .row .col-12 .owner {
        font-size: 13px;
    }
    .hero .row .col-12 h1 {
        margin-top: -12px;
        margin-bottom: 27px;
        font-size: 43px;
    }
    .hero .row .col-12 p {
        color: #ddd;
        font-size: 14px;
    }
    .hero .row .col-12 div a {
        border-radius: 18px;
        margin-right: 10px;
        margin-top: 15px;
    }
}