* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    background-image: url(../img/bg4.png);
    width: 100vw;
    background-position: center;
    min-height: 600px;
}


/* =================== navbar ========== */

.navbar {
    position: relative;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar .navbar-brand {
    margin-left: 20px;
}

.navbar .navbar-brand span {
    margin-left: 5px;
    font-size: 20px;
    color: #fda500;
    font-family: 'Gloock', serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.navbar #navbarSupportedContent ul li {
    margin-right: 18px;
    font-size: 16.6px;
    font-family: 'Roboto Slab', serif;
}

.navbar #navbarSupportedContent ul li a {
    color: rgb(225, 225, 225);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
}

.navbar #navbarSupportedContent ul li a.active {
    color: #de9611;
}

.navbar #navbarSupportedContent {
    margin-right: 15vw;
}

.navbar #navbarSupportedContent ul li a:hover {
    border-bottom: 1px solid #fda500;
    color: #fda500;
    transition: ease 0.2s;
}

.navbar .download a {
    border-radius: 20px;
    padding: 7px 15px;
    margin-right: 40px;
}

.navbar .download {
    position: absolute;
    right: 0;
}


/* heading  */

section.heading {
    font-family: 'Permanent Marker', cursive;
    padding: 20px 20px;
    color: #e8e8e8;
}

section.heading .headWellcome {
    font-size: 50px;
}

section.heading .border01 {
    transform: rotate(180deg) scale(0.3);
}


/* section.heading .bgHeading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    min-height: 600px;
    
} */


/*=============== shop  ============= */

section.shop {
    padding: 5px 0px 30px;
}

section.shop .card {
    margin-top: 46px;
    overflow: hidden;
}

section.shop .card .card-body svg {
    width: 13px;
    height: 13px;
}

section.shop .card-title {
    font-weight: 600;
    font-size: 24px;
    width: 200%;
    overflow: hidden;
}

section.shop .mataUang {
    font-weight: 600;
    font-size: 14px;
    /* margin-top: -6px; */
    transform: translateY(-5px);
}

section.shop .nominal {
    font-size: 20px;
}

section.shop .btn {
    font-size: 12px;
}

section.shop .rating {
    position: relative;
    top: 2px;
    left: 4px;
    margin-right: 10px;
    font-size: 15px;
}

section.shop .r1 {
    position: relative;
    top: 2px;
    left: 4px;
    font-size: 15px;
    margin-right: 83px;
}

section.shop .r1 .r2 {
    opacity: 0.5;
    margin-right: 5px;
}

section.shop .card .modalTombol {
    cursor: pointer;
}


/*============ page ============== */

section.page .pagination {
    padding: 20px 0;
}

section.page ul.pagination li a {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    margin: 0 20px;
    font-weight: 600;
}


/* footer  */

footer {
    min-height: 300px;
    width: 100vw;
    background-color: #0d0d0d;
    padding: 30px 10px 10px;
}

footer .myLogo {
    width: 100px;
    cursor: pointer;
}

footer .neterLogo {
    width: 70px;
    cursor: pointer;
}

footer .footerText p {
    margin-top: 30px;
    color: #aaa;
    font-size: 12px;
    text-align: center;
}


/* footer .batasanUmur {
    margin-top: -10px;
    text-align: center;
}

footer .batasanUmur svg {
    margin-right: 20px;
}

footer .batasanUmur a {
    text-decoration: none;
} */

.sosial {
    margin-top: 10px;
}

.sosial svg {
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}

.sosial svg {
    color: white !important;
}

.sosial svg:hover {
    transform: translateY(-10px);
    transition: ease 0.5s;
}


/*================= responsive ================= */

@media (max-width: 992px) {
    /* navbar  */
    .navbar #navbarSupportedContent ul li a:hover {
        border-bottom: none;
    }
    .navbar .download a {
        margin-right: 20px;
    }
    .navbar .navbar-brand {
        margin-left: 0px;
    }
    .navbar .download {
        position: static;
    }
    .navbar #navbarSupportedContent {
        margin-right: 0;
    }
    /* heading  */
    section.heading .headWellcome {
        font-size: 50px;
    }
    section.heading .border01 {
        transform: rotate(180deg) scale(0.5);
    }
    /* shop  */
    section.shop .card-title {
        font-size: 23px;
    }
    section.shop .mataUang {
        font-size: 13px;
    }
    section.shop .nominal {
        font-size: 19px;
    }
    section.shop .btn {
        font-size: 11px;
    }
    section.shop .rating {
        font-size: 13px;
        margin-right: 9px;
    }
    section.shop .card .card-body svg {
        width: 12px;
        height: 12px;
    }
    section.shop .r1 {
        left: 4px;
        font-size: 13px;
        margin-right: 50px;
    }
    section.shop .r1 .r2 {
        opacity: 0.5;
        margin-right: 5px;
    }
}

@media (max-width: 768px) {
    .navbar #navbarSupportedContent ul li {
        font-size: 16px;
    }
    /* heading  */
    section.heading .headWellcome {
        font-size: 40px;
    }
    section.heading .border01 {
        transform: rotate(180deg) scale(0.8);
    }
    /* shop  */
    section.shop .card-title {
        font-size: 22px;
    }
    section.shop .mataUang {
        font-size: 12px;
    }
    section.shop .nominal {
        font-size: 18px;
    }
    section.shop .btn {
        font-size: 10px;
    }
    section.shop .rating {
        font-size: 12px;
        margin-right: 9px;
    }
    section.shop .card .card-body svg {
        width: 11px;
        height: 11px;
    }
    section.shop .r1 {
        left: 4px;
        font-size: 12px;
        margin-right: 50px;
    }
    section.shop .r1 .r2 {
        opacity: 0.5;
        margin-right: 5px;
    }
}

@media (max-width: 576px) {
    body {
        overflow-x: hidden;
    }
    /* navbar */
    .navbar .navbar-brand img {
        width: 8vw;
    }
    .navbar .navbar-brand span {
        font-size: 3.3vw;
    }
    .navbar .download a {
        font-size: 2.2vw;
        width: 23vw;
        padding: 4px 6px;
        margin-right: 10px;
    }
    .navbar .download a svg {
        width: 14px;
        height: 14px;
    }
    /* heading  */
    section.heading .headWellcome {
        font-size: 20px;
    }
    section.heading .border01 {
        transform: rotate(180deg) scale(0.8);
    }
    /* shop  */
    section.shop {
        padding: 5px 10px 30px;
    }
    section.shop .card {
        margin-top: 10px;
        margin-bottom: 35px;
    }
    section.shop .card-title {
        font-size: 19px;
    }
    section.shop .mataUang {
        font-size: 10px;
        transform: translateY(-5px);
    }
    section.shop .nominal {
        font-size: 15px;
    }
    section.shop .btn {
        font-size: 9px;
    }
    section.shop .rating {
        font-size: 12px;
        margin-right: 5px;
    }
    section.shop .card .card-body svg {
        width: 10px;
        height: 10px;
        transform: translateY(1px);
    }
    section.shop .r1 {
        left: 3px;
        font-size: 12px;
        margin-right: 100%;
    }
    section.shop .r1 .r2 {
        opacity: 0.5;
        margin-right: 1px;
    }
    /* page  */
    section.page .pagination {
        margin-top: -30px;
        padding: 0px 0px 10px;
    }
    /* footer  */
    footer .logoAll div a img {
        width: 55px;
        height: 55px;
    }
    footer .logoAll div svg {
        width: 50px;
        height: 50px;
    }
    footer .footerText p {
        margin-top: 20px;
        font-size: 9px;
        padding: 0 15px;
    }
    .sosial svg {
        margin-top: 15px;
    }
}