* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

.navbar {
    position: relative;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar .navbar-brand {
    margin-left: 20px;
}

.navbar .navbar-brand span {
    margin-left: 5px;
    font-size: 20px;
    color: #fda500;
    font-family: 'Gloock', serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.navbar #navbarSupportedContent ul li {
    margin-right: 18px;
    font-size: 16.6px;
    font-family: 'Roboto Slab', serif;
}

.navbar #navbarSupportedContent ul li a {
    color: rgb(225, 225, 225);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
}

.navbar #navbarSupportedContent ul li a.active {
    color: #de9611;
}

.navbar #navbarSupportedContent {
    margin-right: 15vw;
}

.navbar #navbarSupportedContent ul li a:hover {
    border-bottom: 1px solid #fda500;
    color: #fda500;
    transition: ease 0.2s;
}

.navbar .download a {
    border-radius: 20px;
    padding: 7px 15px;
    margin-right: 40px;
}

.navbar .download {
    position: absolute;
    right: 0;
}


/* sinopsis  */

section.sinopsis {
    overflow-x: hidden;
}

section.sinopsis .sinopsisbg {
    width: 100vw;
    height: 650px;
    margin-top: -130px;
    /* position: absolute; */
    /* z-index: -1; */
}

section .sinopsisInfo {
    position: absolute;
    z-index: 999;
    margin-top: -400px;
    text-align: center;
    padding: 0 100px;
}

section.sinopsis .sinopsisInfo .HeadMK {
    font-family: 'Skranji', cursive;
    color: #de9611;
    font-size: 55px;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 20px;
    transform: translateX(-800px);
    opacity: 0;
}

section.sinopsis .sinopsisInfo .HeadMK.muncul {
    transform: translateX(0px);
    opacity: 1;
    transition: 1.5s ease;
}

section.sinopsis .sinopsisInfo p.sinopsisIsi {
    color: #666;
    transform: translateX(1000px);
    opacity: 0;
}

section.sinopsis .sinopsisInfo p.sinopsisIsi.muncul {
    transform: translateX(0px);
    opacity: 1;
    transition: 1.5s ease;
}

section.sinopsis .border01 {
    margin-top: -300px;
    transform: rotate(180deg) scale(0.5);
}


/* Story  */

section.story img {
    width: 100vw;
    position: relative;
    z-index: 99;
}

section.story .storyIsi {
    text-align: center;
    position: relative;
    z-index: 999;
    top: -106px;
}

section.story .storyIsi .storyIsiImg {
    transform: rotate(180deg) scale(0.3);
}

section.story .storyIsi .storyIsiJudul {
    font-family: 'Calistoga', cursive;
    color: #de9611;
    font-size: 32px;
}

section.story .storyIsi .row {
    justify-content: center;
}

section.story .storyIsi .storyIsiP {
    color: #aaa;
}

.border02 {
    margin-top: 60px;
    margin-bottom: 50px;
}


/* customize  */

section.custom img {
    width: 100vw;
    position: relative;
    z-index: 99;
    margin-top: 100px;
}

section.custom .customIsi {
    text-align: center;
    position: relative;
    z-index: 999;
    top: 35px;
}

section.custom .customIsi .customIsiImg {
    transform: rotate(180deg) scale(0.3);
    margin-top: -20px;
}

section.custom .customIsi .customIsiJudul {
    font-family: 'Calistoga', cursive;
    color: #de9611;
    font-size: 32px;
}

section.custom .customIsi .row {
    justify-content: center;
}

section.custom .customIsi .customIsiP {
    color: #aaa;
}


/* Fight  */

section.fight img {
    width: 100vw;
    position: relative;
    z-index: 99;
    margin-top: 170px;
}

section.fight .fightIsi {
    text-align: center;
    position: relative;
    z-index: 999;
    top: 35px;
}

section.fight .fightIsi .fightIsiImg {
    transform: rotate(180deg) scale(0.3);
    margin-top: -20px;
}

section.fight .fightIsi .fightIsiJudul {
    font-family: 'Calistoga', cursive;
    color: #de9611;
    font-size: 32px;
}

section.fight .fightIsi .row {
    justify-content: center;
}

section.fight .fightIsi .fightIsiP {
    color: #aaa;
}


/* fatality  */

section.fatality img {
    width: 100vw;
    position: relative;
    z-index: 99;
    margin-top: 220px;
}

section.fatality .fatalityIsi {
    text-align: center;
    position: relative;
    z-index: 999;
    top: 10px;
}

section.fatality .fatalityIsi .fatalityIsiImg {
    transform: rotate(180deg) scale(0.3);
    margin-top: -20px;
}

section.fatality .fatalityIsi .fatalityIsiJudul {
    font-family: 'Calistoga', cursive;
    color: #de9611;
    font-size: 32px;
}

section.fatality .fatalityIsi .row {
    justify-content: center;
}

section.fatality .fatalityIsi .fatalityIsiP {
    color: #aaa;
}


/* Friendship  */

section.friendship img {
    width: 100vw;
    position: relative;
    z-index: 99;
    margin-top: 170px;
}

section.friendship .friendshipIsi {
    text-align: center;
    position: relative;
    z-index: 999;
    top: -100px;
}

section.friendship .friendshipIsi .friendshipIsiImg {
    transform: rotate(180deg) scale(0.3);
    margin-top: -20px;
}

section.friendship .friendshipIsi .friendshipIsiJudul {
    font-family: 'Calistoga', cursive;
    color: #de9611;
    font-size: 32px;
}

section.friendship .friendshipIsi .row {
    justify-content: center;
}

section.friendship .friendshipIsi .friendshipIsiP {
    color: #aaa;
}


/* footer  */

footer {
    min-height: 300px;
    width: 100vw;
    background-color: #0d0d0d;
    padding: 30px 10px 10px;
}

footer .myLogo {
    width: 100px;
    cursor: pointer;
}

footer .neterLogo {
    width: 70px;
    cursor: pointer;
}

footer .footerText p {
    margin-top: 30px;
    color: #aaa;
    font-size: 12px;
    text-align: center;
}


/* footer .batasanUmur {
    margin-top: -10px;
    text-align: center;
}

footer .batasanUmur svg {
    margin-right: 20px;
}

footer .batasanUmur a {
    text-decoration: none;
} */

.sosial {
    margin-top: 10px;
}

.sosial svg {
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}

.sosial svg {
    color: white !important;
}

.sosial svg:hover {
    transform: translateY(-10px);
    transition: ease 0.5s;
}


/* responsive  */

@media (max-width: 992px) {
    /* navbar  */
    .navbar #navbarSupportedContent ul li a:hover {
        border-bottom: none;
    }
    .navbar .download a {
        margin-right: 20px;
    }
    .navbar .navbar-brand {
        margin-left: 0px;
    }
    .navbar .download {
        position: static;
    }
    .navbar #navbarSupportedContent {
        margin-right: 0;
    }
    /* sinopsis  */
    section.sinopsis .sinopsisInfo .HeadMK {
        font-size: 50px;
    }
    section .sinopsisInfo {
        padding: 0 17px;
        margin-top: -400px;
    }
    section.sinopsis .border01 {
        margin-top: -280px;
        transform: rotate(180deg) scale(0.8);
    }
    /* story  */
    section.story img {
        margin-top: -60px;
        width: 100vw;
    }
    section.story .storyIsi {
        top: -50px;
    }
    section.story .storyIsi .storyIsiImg {
        margin-top: 10px;
    }
    /* Custom  */
    section.custom img {
        margin-top: 120px;
        width: 100vw;
    }
    section.custom .customIsi {
        top: 40px;
    }
    section.custom .customIsi .customIsiImg {
        margin-top: -10px;
    }
    /* fight mode   */
    section.fight img {
        margin-top: 180px;
        width: 100vw;
    }
    section.fight .fightIsi {
        top: 20px;
    }
    section.fight .fightIsi .fightIsiImg {
        margin-top: -20px;
    }
    /* fatality  */
    section.fatality img {
        margin-top: 180px;
        width: 100vw;
    }
    section.fatality .fatalityIsi {
        top: -60px;
    }
    section.fatality .fatalityIsi .fatalityIsiImg {
        margin-top: -20px;
    }
    /* friendship  */
    section.friendship img {
        margin-top: 80px;
        width: 100vw;
    }
    section.friendship .friendshipIsi {
        top: -60px;
    }
    section.friendship .friendshipIsi .friendshipIsiImg {
        margin-top: -20px;
    }
}

@media (max-width: 768px) {
    .navbar #navbarSupportedContent ul li {
        font-size: 16px;
    }
    /* sinopsis  */
    section.sinopsis .sinopsisInfo .HeadMK {
        font-size: 50px;
    }
    section .sinopsisInfo {
        padding: 0 10px;
        margin-top: -400px;
    }
    section.sinopsis .border01 {
        margin-top: -230px;
        transform: rotate(180deg) scale(0.8);
    }
    /* story  */
    section.story img {
        margin-top: 20px;
        width: 100vw;
    }
    section.story .storyIsi .storyIsiImg {
        margin-top: 20px;
        transform: rotate(180deg) scale(0.5);
    }
    /* custom  */
    section.custom img {
        margin-top: 110px;
        width: 100vw;
    }
    section.custom .customIsi .customIsiImg {
        margin-top: -10px;
        transform: rotate(180deg) scale(0.5);
    }
    /* fight mode  */
    section.fight img {
        margin-top: 130px;
        width: 100vw;
    }
    section.fight .fightIsi .fightIsiImg {
        margin-top: -10px;
        transform: rotate(180deg) scale(0.5);
    }
    /* fatality */
    section.fatality img {
        margin-top: 170px;
        width: 100vw;
    }
    section.fatality .fatalityIsi .fatalityIsiImg {
        margin-top: -10px;
        transform: rotate(180deg) scale(0.5);
    }
    /* friendship  */
    section.friendship img {
        margin-top: 90px;
        width: 100vw;
    }
    section.friendship .friendshipIsi .friendshipIsiImg {
        margin-top: -10px;
        transform: rotate(180deg) scale(0.5);
    }
}


/* optional  */

@media (max-width: 650px) {
    section.sinopsis .border01 {
        margin-top: -200px;
        transform: rotate(180deg) scale(0.8);
    }
}

@media (max-width: 576px) {
    body {
        overflow-x: hidden;
    }
    /* navbar */
    .navbar .navbar-brand img {
        width: 8vw;
    }
    .navbar .navbar-brand span {
        font-size: 3.3vw;
    }
    .navbar .download a {
        font-size: 2.2vw;
        width: 23vw;
        padding: 4px 6px;
        margin-right: 10px;
    }
    .navbar .download a svg {
        width: 14px;
        height: 14px;
    }
    /* sinopsis  */
    section .sinopsisInfo {
        padding: 0 17px;
        margin-top: -420px;
    }
    section.sinopsis .sinopsisIsi {
        font-size: 14px;
    }
    section.sinopsis .border01 {
        margin-top: 40px;
        transform: rotate(180deg) scale(0.8);
    }
    /* story  */
    section.story img {
        margin-top: 60px;
        width: 100vw;
    }
    section.story .storyIsi {
        top: -20px;
    }
    section.story .storyIsi .storyIsiJudul {
        font-family: 'Calistoga', cursive;
        color: #de9611;
        font-size: 25px;
    }
    section.story .storyIsi .storyIsiP {
        font-size: 14px;
    }
    section.story .storyIsi .storyIsiImg {
        margin-top: -19px;
        transform: rotate(180deg) scale(0.8);
    }
    section.story .storyIsi .container {
        padding: 0 17px;
    }
    /* Custom  */
    section.custom img {
        margin-top: 100px;
        width: 100vw;
    }
    section.custom .customIsi {
        top: 30px;
    }
    section.custom .customIsi .customIsiJudul {
        font-family: 'Calistoga', cursive;
        color: #de9611;
        font-size: 25px;
    }
    section.custom .customIsi .customIsiP {
        font-size: 14px;
    }
    section.custom .customIsi .customIsiImg {
        margin-top: -19px;
        transform: rotate(180deg) scale(0.8);
    }
    section.custom .customIsi .container {
        padding: 0 17px;
    }
    /* Fight  */
    section.fight img {
        margin-top: 120px;
        width: 100vw;
    }
    section.fight .fightIsi {
        top: 15px;
    }
    section.fight .fightIsi .fightIsiJudul {
        font-family: 'Calistoga', cursive;
        color: #de9611;
        font-size: 25px;
    }
    section.fight .fightIsi .fightIsiP {
        font-size: 14px;
    }
    section.fight .fightIsi .fightIsiImg {
        margin-top: -19px;
        transform: rotate(180deg) scale(0.8);
    }
    section.fight .fightIsi .container {
        padding: 0 17px;
    }
    /* fatality  */
    section.fatality img {
        margin-top: 130px;
        width: 100vw;
    }
    section.fatality .fatalityIsi {
        top: -30px;
    }
    section.fatality .fatalityIsi .fatalityIsiJudul {
        font-family: 'Calistoga', cursive;
        color: #de9611;
        font-size: 25px;
    }
    section.fatality .fatalityIsi .fatalityIsiP {
        font-size: 14px;
    }
    section.fatality .fatalityIsi .fatalityIsiImg {
        margin-top: -19px;
        transform: rotate(180deg) scale(0.8);
    }
    section.fatality .fatalityIsi .container {
        padding: 0 17px;
    }
    /* Friendship  */
    section.friendship img {
        margin-top: 80px;
        width: 100vw;
    }
    section.friendship .friendshipIsi {
        top: -30px;
    }
    section.friendship .friendshipIsi .friendshipIsiJudul {
        font-family: 'Calistoga', cursive;
        color: #de9611;
        font-size: 25px;
    }
    section.friendship .friendshipIsi .friendshipIsiP {
        font-size: 14px;
    }
    section.friendship .friendshipIsi .friendshipIsiImg {
        margin-top: -19px;
        transform: rotate(180deg) scale(0.8);
    }
    section.friendship .friendshipIsi .container {
        padding: 0 17px;
    }
    /* footer  */
    footer .logoAll div a img {
        width: 55px;
        height: 55px;
    }
    footer .logoAll div svg {
        width: 50px;
        height: 50px;
    }
    footer .footerText p {
        margin-top: 20px;
        font-size: 9px;
        padding: 0 15px;
    }
    .sosial svg {
        margin-top: 15px;
    }
}