* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

.navbar {
    position: relative;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar .navbar-brand {
    margin-left: 20px;
}

.navbar .navbar-brand span {
    margin-left: 5px;
    font-size: 20px;
    color: #fda500;
    font-family: 'Gloock', serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.navbar #navbarSupportedContent ul li {
    margin-right: 18px;
    font-size: 16.6px;
    font-family: 'Roboto Slab', serif;
}

.navbar #navbarSupportedContent ul li a {
    color: rgb(225, 225, 225);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
}

.navbar #navbarSupportedContent ul li a.active {
    color: #de9611;
}

.navbar #navbarSupportedContent {
    margin-right: 15vw;
}

.navbar #navbarSupportedContent ul li a:hover {
    border-bottom: 1px solid #fda500;
    color: #fda500;
    transition: ease 0.2s;
}

.navbar .download a {
    border-radius: 20px;
    padding: 7px 15px;
    margin-right: 40px;
}

.navbar .download {
    position: absolute;
    right: 0;
}


/* sinopsis  */

section.sinopsis .sinopsisbg {
    width: 100vw;
    height: 650px;
    margin-top: -130px;
    /* position: absolute; */
    /* z-index: -1; */
}

section .sinopsisInfo {
    position: absolute;
    z-index: 999;
    margin-top: -400px;
    text-align: center;
    padding: 0 100px;
}

section.sinopsis .sinopsisInfo .HeadMK {
    font-family: 'Skranji', cursive;
    color: #de9611;
    font-size: 55px;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 20px;
}

section.sinopsis .sinopsisInfo p.sinopsisIsi {
    color: #666;
}

section.sinopsis .border01 {
    margin-top: -300px;
    transform: rotate(180deg) scale(0.5);
}


/* Story  */

section.story img {
    width: 100vw;
    position: relative;
    z-index: 99;
}


/* responsive  */

@media (max-width: 992px) {
    /* navbar  */
    .navbar #navbarSupportedContent ul li a:hover {
        border-bottom: none;
    }
    .navbar .download a {
        margin-right: 20px;
    }
    .navbar .navbar-brand {
        margin-left: 0px;
    }
    .navbar .download {
        position: static;
    }
    .navbar #navbarSupportedContent {
        margin-right: 0;
    }
    /* sinopsis  */
    section.sinopsis .sinopsisInfo .HeadMK {
        font-size: 50px;
    }
    section .sinopsisInfo {
        padding: 0 17px;
        margin-top: -400px;
    }
    section.sinopsis .border01 {
        margin-top: -280px;
        transform: rotate(180deg) scale(0.8);
    }
    /* story  */
    section.story img {
        margin-top: -60px;
        width: 100vw;
    }
}

@media (max-width: 768px) {
    .navbar #navbarSupportedContent ul li {
        font-size: 16px;
    }
    /* sinopsis  */
    section.sinopsis .sinopsisInfo .HeadMK {
        font-size: 50px;
    }
    section .sinopsisInfo {
        padding: 0 10px;
        margin-top: -400px;
    }
    section.sinopsis .border01 {
        margin-top: -230px;
        transform: rotate(180deg) scale(0.8);
    }
    /* story  */
    section.story img {
        margin-top: 50px;
        width: 100vw;
    }
}


/* optional  */

@media (max-width: 650px) {
    section.sinopsis .border01 {
        margin-top: -200px;
        transform: rotate(180deg) scale(0.8);
    }
}

@media (max-width: 576px) {
    body {
        overflow-x: hidden;
    }
    /* navbar */
    .navbar .navbar-brand img {
        width: 8vw;
    }
    .navbar .navbar-brand span {
        font-size: 3.3vw;
    }
    .navbar .download a {
        font-size: 2.2vw;
        width: 23vw;
        padding: 4px 6px;
        margin-right: 10px;
    }
    .navbar .download a svg {
        width: 14px;
        height: 14px;
    }
    /* sinopsis  */
    section .sinopsisInfo {
        padding: 0 17px;
        margin-top: -420px;
    }
    section.sinopsis .sinopsisIsi {
        font-size: 14px;
    }
    section.sinopsis .border01 {
        margin-top: -170px;
        transform: rotate(180deg) scale(0.8);
    }
    /* story  */
    section.story img {
        margin-top: 40px;
        width: 100vw;
    }
}