* {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/bg4.png);
    background-position: center center;
    overflow-x: hidden;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.9);
}

.navbar .navbar-brand {
    margin-left: 20px;
}

.navbar .navbar-brand span {
    margin-left: 5px;
    font-size: 20px;
    color: #fda500;
    font-family: 'Gloock', serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.navbar #navbarSupportedContent ul li {
    margin-right: 18px;
    font-size: 16.6px;
    font-family: 'Roboto Slab', serif;
}

.navbar #navbarSupportedContent ul li a {
    color: rgb(225, 225, 225);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
}

.navbar #navbarSupportedContent ul li a.active {
    color: #de9611;
}

.navbar #navbarSupportedContent {
    margin-right: 15vw;
}

.navbar #navbarSupportedContent ul li a:hover {
    color: #fda500;
    transition: ease 0.2s;
}

.navbar .download a {
    border-radius: 20px;
    padding: 7px 15px;
    margin-right: 40px;
}

.navbar .download {
    position: absolute;
    right: 0;
}


/* ================ judul =========== */

section.judul {
    margin-top: 50px;
}

section.judul .judulText1 {
    color: #fda500;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    text-shadow: 5px 5px 5px black, 5px 5px 5px black, 5px 5px 5px black, 5px 5px 5px black, 5px 5px 5px black, 5px 5px 5px black;
}

section.character .galeri {
    width: 100%;
    margin: 60px 0px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 8px;
    text-transform: uppercase;
}

section.character .galeri li img {
    display: block;
    width: 100%;
    background-color: #151c25;
    cursor: pointer;
}

section.character .galeri li {
    margin-bottom: 10px;
}

section.character .galeri .galeriImg {
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #4f4f4f;
}

section.character .galeri .galeriImg:hover img {
    transform: scale(1.2);
    transition: ease 0.4s;
}

section.character .galeri .galeriImg:hover {
    border: 1px solid #e19c07;
    box-sizing: border-box;
    transition: ease 0.2s;
}

section.character .galeri li h6 {
    color: white;
    font-size: 10px;
    margin-top: 10px;
}


/* =========== Voice ============  */

section.voice .voiceText {
    margin-top: 120px;
    color: #fda500;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    text-shadow: 5px 5px 5px black, 5px 5px 5px black, 5px 5px 5px black, 5px 5px 5px black, 5px 5px 5px black, 5px 5px 5px black;
}


/* responsive  */

@media (max-width: 992px) {
    /* navbar  */
    .navbar #navbarSupportedContent ul li a:hover {
        border-bottom: none;
    }
    .navbar .download a {
        margin-right: 20px;
    }
    .navbar .navbar-brand {
        margin-left: 0px;
    }
    .navbar .download {
        position: static;
    }
    .navbar #navbarSupportedContent {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .navbar #navbarSupportedContent ul li {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    /* navbar */
    .navbar .navbar-brand img {
        width: 8vw;
    }
    .navbar .navbar-brand span {
        font-size: 3.3vw;
    }
    .navbar .download a {
        font-size: 2.2vw;
        width: 23vw;
        padding: 4px 6px;
        margin-right: 10px;
    }
    .navbar .download a svg {
        width: 14px;
        height: 14px;
    }
    /* ==== judul ===== */
    section.judul .judulText1 {
        font-size: 45px;
    }
    section.character .galeri li h6 {
        font-size: 9px;
    }
    section.character .galeri {
        grid-gap: 11px;
    }
}